:root {
    --main-bg-color: #242425;
    --secondary-bg-color: #BB9647;
    --main-font-color: #EAEAEA;
    --secondary-font-color: #BB9647;
    --third-font-color: #AD974F;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #242425;
    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
aside {
    background: #000;
}

.navbar-brand {
    color: var(--secondary-font-color);
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #ddd;
}

#nav ul .nav-item {
    margin-bottom: 20px;
}

.socials-link {
    padding: 8px;
}

#sidebar #nav li a {
    padding: 5px;
    color: #ddd;
}

#sidebar #nav li a.active, 
#sidebar #nav li a:hover {
    color: var(--secondary-font-color);
}

.fullscreen {
    height: 100vh;
}


@media (min-width: 768px) {
    aside{
       width: 150px !important;
       height: 100vh;
    } 

    #sidebar{
        display: flex;
        justify-content: space-between !important;
    }
}