:root {
    --main-bg-color: #242425;
    --secondary-bg-color: #BB9647;
    --main-font-color: #EAEAEA;
    --secondary-font-color: #BB9647;
    --third-font-color: #AD974F;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #242425;
    color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
h1 {
    color: var(--secondary-font-color);
}
p.size {
    font-size: 16px;
}

.container, .container-fluid {
    padding: 0;
}

.container {
    max-width: 80%;
}
.row {
    margin: 0;
}

aside {
    background: #000;
    position: fixed;
    z-index: 100;
}

.navbar-brand {
    color: var(--secondary-font-color);
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #ddd;
}

#nav ul .nav-item {
    margin-bottom: 20px;
}

.socials-link {
    padding: 8px;
}

#sidebar #nav li a {
    padding: 5px;
    color: #ddd;
    font-size: 20px;
}

#sidebar #nav li a.active, 
#sidebar #nav li a:hover {
    color: var(--secondary-font-color);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


.main-content {
    padding: 0;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#about, #contacts {
    background: #313133;
}

.fullscreen {
    height: 100vh;
}

.heading-separator-line {
    width: 80px;
    color: var(--secondary-bg-color) !important;
}

#skills-list p i {
    color: var(--secondary-font-color);
}

#about-p p span {
    color: var(--secondary-font-color);
}

.img-content {
    position: relative;
    overflow: hidden;
}

.img-content:hover .text {
    visibility: visible;
    cursor: pointer;
}

.img-content:hover img {
    transform: scale(1.1);
}

img {
    transition: .5s ease;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-bg-color);
    opacity: 0.9;
    color: var(--secondary-font-color);
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: .3s ease;
}

#contacts label {
    color: var(--secondary-font-color);
}

.send-btn{
    background-color: var(--secondary-bg-color);
    color: var(--main-font-color);
    border: none;
}

#rights {
    margin-top: 5rem !important;
}

.all-rights {
    color: var(--secondary-font-color);
}

@media (min-width: 470px) {

    .container {
        max-width: 70%;
    }
}


@media (min-width: 768px) {

    .container {
        max-width: 85%;
    }

    aside{
       width: 180px !important;
       height: 100vh;
    } 

    #sidebar{
        display: flex;
        justify-content: space-between !important;
    }

    .main-content {
        padding-left: 180px;
        padding-right: 0;
    }
}


